[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
cx_Oracle = "*"
sqlalchemy = "*"
pyodbc = "*"
python-dotenv = "*"
gspread = "*"

[requires]
python_version = "3.8"
